<!DOCTYPE html>
<html lang="en" xmlns:th="http://thumeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<table border=1 bordercolor="black">
    <thead>
    <tr>
        <th> id </th> <th> Name </th> <th> Email </th> <th> Age </th>
    </tr>
    </thead>

    <tbody>

    <tr>
        <th> <p th:text="${user.getId()}">Value</p> </th>
        <th> <p th:text="${user.getName()}">Value</p> </th>
        <th> <p th:text="${user.getEmail()}">Value</p> </th>
        <th> <p th:text="${user.getAge()}">Value</p> </th>
    </tr>

    </tbody>

</table>
</body>
</html>